
header {
    display: flex;
    position: relative;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(grey , white);
    margin: 5px 1px 10px 1px;
}

.border-gradient {
    border: 10px solid transparent;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-grey {
    border-image-source: linear-gradient(white, grey);
}

h1 {
    text-align: center;
    flex: 1 0 auto;
    line-height: 180%;
}

nav {
    position: absolute;
    right: 0;
    bottom: 0;
}

ul {
    list-style-type: none;
    display: inline-flex;
    margin-right: 15px;
    margin-bottom: 5px;
}

li {
    margin-right: 10px;
}

body   {
    background-color: black;
    color: white;
    line-height: 1;
    font-family: sans-serif;
}

.flex-grid {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
}

#avatar {
    display: grid;
    text-align: center;
    justify-content: center;
}

#work {
    display: grid;
    justify-content: center;
    background-image: linear-gradient(grey , white);
}


#avatarpic {
    max-width: 250px;
    max-height: 250px;
    padding: 3px;
    border: 5px solid silver;
}

#portfoliopic {
    max-width: 750px;
    max-height: 750px;
    padding: 3px;
}

#avatar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

#contact {
    position: relative;
    content: '';
    display: grid;
    background-color: transparent;
}

h4 {
    text-align: center;
    flex: 1 0 auto;
}

form {
    display: grid;
    text-align: center;
    justify-content: center;
}

input[type=text] {
    min-width: 400px;
    border: 2px solid white;
    background-color: silver;
}

input[type=text]:focus {
    background-color: white;
}

textarea {
    resize: none;
    background-color: silver;
}

textarea:focus {
    background-color: white;
}